In [1]:
import pandas as pd
import numpy as np

In [69]:
# 경제활동인구_및_참가율 = pd.read_csv("./datasets/경제활동인구_및_참가율.csv", encoding='CP949')
# 고용률 = pd.read_csv("./datasets/고용률.csv", encoding='CP949')
# 국민부담률 = pd.read_csv("./datasets/국민부담률.csv", encoding='CP949')
# 무역의존도 = pd.read_csv("./datasets/무역의존도.csv", encoding='CP949')
# 수출수입 = pd.read_csv("./datasets/수출수입.csv", encoding='CP949')
# 실업률 = pd.read_csv("./datasets/실업률.csv", encoding='CP949')
# 외환보유액 = pd.read_csv("./datasets/외환보유액.csv", encoding='CP949')
# 일반정부_총_부채_비율 = pd.read_csv("./datasets/일반정부_총_부채_비율.csv", encoding='CP949')
# 평균근로자_세금 = pd.read_csv("./datasets/평균근로자_세금.csv", encoding='CP949')
# GDP_디플레이터 = pd.read_csv("./datasets/GDP_디플레이터.csv", encoding='CP949')
# GDP_성장률 = pd.read_csv("./datasets/GDP_성장률.csv", encoding='CP949')
# 생산자_물가지수 = pd.read_csv("./datasets/생산자_물가지수.csv", encoding='CP949')
# 소비자_물가지수 = pd.read_csv("./datasets/소비자_물가지수.csv", encoding='CP949')
# 인당_국민총소득 = pd.read_csv("./datasets/인당_국민총소득.csv", encoding='CP949')

In [70]:
# from functools import reduce

# lists = [인당_국민총소득, GDP_성장률, GDP_디플레이터, 수출수입, 무역의존도,외환보유액, 일반정부_총_부채_비율, 국민부담률, 평균근로자_세금, 경제활동인구_및_참가율, 고용률, 실업률]

# all = reduce(lambda left,right : pd.merge(left, right, on=('시점', '국가별'), how='left'), lists)
# all['무역의존도_수입'] = all['무역의존도_수입'].replace('-', np.NaN)
# all['수입'] = all['수입'].replace('-', np.NaN)
# all['무역의존도_수입'] = all['무역의존도_수입'].astype(float)
# all['수입'] = all['수입'].astype(float)

In [64]:
# all.to_csv('./datasets/all.csv', encoding='CP949', index=None)

In [72]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894 entries, 0 to 893
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   국가별          894 non-null    object
 1   시점           894 non-null    int64
 2   인당_국민총소득     789 non-null    float64
 3   GDP_성장률      780 non-null    float64
 4   디플레이터        756 non-null    float64
 5   수출           770 non-null    float64
 6   수입           738 non-null    float64
 7   무역의존도_수출     770 non-null    float64
 8   무역의존도_수입     738 non-null    float64
 9   외환보유액        770 non-null    float64
 10  부채비율         671 non-null    float64
 11  국민부담률        731 non-null    float64
 12  평균근로자세금      728 non-null    float64
 13  경제활동참가율 (%)  770 non-null    float64
 14  고용률          708 non-null    float64
 15  실업률          778 non-null    float64
dtypes: float64(14), int64(1), object(1)
memory usage: 111.9+ KB

In [80]:
all = pd.read_csv('./datasets/all.csv', encoding='CP949')
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771 entries, 0 to 770
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   국가별          771 non-null    object
 1   시점           771 non-null    int64
 2   인당_국민총소득     771 non-null    float64
 3   GDP_성장률      771 non-null    float64
 4   디플레이터        756 non-null    float64
 5   수출           770 non-null    float64
 6   수입           738 non-null    float64
 7   무역의존도_수출     770 non-null    float64
 8   무역의존도_수입     738 non-null    float64
 9   외환보유액        771 non-null    int64
 10  부채비율         672 non-null    float64
 11  국민부담률        731 non-null    float64
 12  평균근로자세금      729 non-null    float64
 13  경제활동참가율 (%)  771 non-null    float64
 14  고용률          709 non-null    float64
 15  실업률          771 non-null    float64
dtypes: float64(13), int64(2), object(1)
memory usage: 96.5+ KB

In [81]:
data = all[(all['시점']==2000) | (all['시점']==2005) | (all['시점']==2010) | (all['시점']==2015) | (all['시점']==2020) ]
data.reset_index(inplace=True)
data.drop('index', axis=1, inplace=True)
data.to_csv('./datasets/data.csv', index=None, encoding='CP949')

C:\Users\dbswo\AppData\Local\Temp\ipykernel_26448\1220455572.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('index', axis=1, inplace=True)

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   국가별          168 non-null    object
 1   시점           168 non-null    int64
 2   인당_국민총소득     168 non-null    float64
 3   GDP_성장률      168 non-null    float64
 4   디플레이터        163 non-null    float64
 5   수출           167 non-null    float64
 6   수입           159 non-null    float64
 7   무역의존도_수출     167 non-null    float64
 8   무역의존도_수입     159 non-null    float64
 9   외환보유액        168 non-null    int64
 10  부채비율         140 non-null    float64
 11  국민부담률        146 non-null    float64
 12  평균근로자세금      158 non-null    float64
 13  경제활동참가율 (%)  168 non-null    float64
 14  고용률          150 non-null    float64
 15  실업률          168 non-null    float64
dtypes: float64(13), int64(2), object(1)
memory usage: 21.1+ KB

In [74]:
data.groupby('국가별').count()['시점']

국가별
그리스        2
남아메리카      5
네덜란드       4
노르웨이       5
뉴질랜드       4
덴마크        5
독일         5
라트비아       4
룩셈부르크      4
리투아니아      4
리히텐슈타인     4
멕시코        5
미국         4
벨기에        4
북아메리카      5
스웨덴        5
스위스        4
스페인        4
슬로바키아      5
슬로베니아      4
아시아        5
아이슬란드      4
아일랜드       4
에스토니아      4
영국         4
오세아니아      5
오스트레일리아    5
오스트리아      4
유럽         5
이스라엘       4
이탈리아       5
일본         4
체코         4
칠레         5
캐나다        5
코스타리카      5
콜롬비아       5
터키         5
포르투갈       5
폴란드        5
프랑스        4
핀란드        5
한국         5
헝가리        4
Name: 시점, dtype: int64

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   국가별          196 non-null    object
 1   시점           196 non-null    int64
 2   인당_국민총소득     171 non-null    float64
 3   GDP_성장률      169 non-null    float64
 4   디플레이터        163 non-null    float64
 5   수출           167 non-null    float64
 6   수입           159 non-null    float64
 7   무역의존도_수출     167 non-null    float64
 8   무역의존도_수입     159 non-null    float64
 9   외환보유액        167 non-null    float64
 10  부채비율         139 non-null    float64
 11  국민부담률        146 non-null    float64
 12  평균근로자세금      157 non-null    float64
 13  경제활동참가율 (%)  167 non-null    float64
 14  고용률          149 non-null    float64
 15  실업률          169 non-null    float64
dtypes: float64(14), int64(1), object(1)
memory usage: 24.6+ KB

In [77]:
credit_ = pd.read_csv("./datasets/OECD신용등급.csv", encoding='CP949')

In [78]:
bins = np.arange(-2,21, 1)+0.99
label = ['D','C','CC','CCC-','CCC','CCC+','B-','B','B+','BB-','BB','BB+','BBB-','BBB','BBB+','A-','A','A+','AA-','AA','AA+','AAA']
credit_['신용등급_1'] = pd.cut(credit_['신용등급'], bins=bins, labels=label)

In [79]:
credit_.to_csv("./OECD신용등급.csv", index=None, encoding='CP949')

In [40]:
bins

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17, 18, 19, 20, 21])