In [1]:
import pandas as pd
import numpy as np

In [2]:
경제활동인구_및_참가율 = pd.read_csv("./datasets/경제활동인구_및_참가율.csv", encoding='CP949')
고용률 = pd.read_csv("./datasets/고용률.csv", encoding='CP949')
국내총생산 = pd.read_csv("./datasets/국내총생산.csv", encoding='CP949')
국민부담률 = pd.read_csv("./datasets/국민부담률.csv", encoding='CP949')
무역의존도 = pd.read_csv("./datasets/무역의존도.csv", encoding='CP949')
수출수입 = pd.read_csv("./datasets/수출수입.csv", encoding='CP949')
실업률 = pd.read_csv("./datasets/실업률.csv", encoding='CP949')
외환보유액 = pd.read_csv("./datasets/외환보유액.csv", encoding='CP949')
일반정부_총_부채_비율 = pd.read_csv("./datasets/일반정부_총_부채_비율.csv", encoding='CP949')
평균근로자_세금 = pd.read_csv("./datasets/평균근로자_세금.csv", encoding='CP949')
GDP_디플레이터 = pd.read_csv("./datasets/GDP_디플레이터.csv", encoding='CP949')
GDP_성장률 = pd.read_csv("./datasets/GDP_성장률.csv", encoding='CP949')

In [3]:
from functools import reduce

lists = [국내총생산, 고용률, 국민부담률,경제활동인구_및_참가율, 무역의존도,수출수입, 외환보유액, 일반정부_총_부채_비율, 실업률, 평균근로자_세금, GDP_디플레이터, GDP_성장률]

all = reduce(lambda left,right : pd.merge(left, right, on=('시점', '국가별'), how='left'), lists)
all['무역의존도_수입'] = all['무역의존도_수입'].replace('-', np.NaN)
all['수입'] = all['수입'].replace('-', np.NaN)
all['무역의존도_수입'] = all['무역의존도_수입'].astype(float)
all['수입'] = all['수입'].astype(float)

In [4]:
all.to_csv('./datasets/all.csv', encoding='CP949', index=None)

In [5]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   국가별          816 non-null    object
 1   시점           816 non-null    int64
 2   국내총생산        816 non-null    int64
 3   고용률          735 non-null    float64
 4   국민부담률        738 non-null    float64
 5   경제활동참가율 (%)  795 non-null    float64
 6   무역의존도_수출     796 non-null    float64
 7   무역의존도_수입     764 non-null    float64
 8   수출           796 non-null    float64
 9   수입           764 non-null    float64
 10  외환보유액        797 non-null    float64
 11  부채비율         687 non-null    float64
 12  실업률          804 non-null    float64
 13  평균근로자세금      755 non-null    float64
 14  디플레이터        782 non-null    float64
 15  GDP_성장률      807 non-null    float64
dtypes: float64(13), int64(2), object(1)
memory usage: 108.4+ KB

In [6]:
all = pd.read_csv('./datasets/all.csv', encoding='CP949')
all

,국가별,시점,국내총생산,고용률,국민부담률,경제활동참가율 (%),무역의존도_수출,무역의존도_수입,수출,수입,외환보유액,부채비율,실업률,평균근로자세금,디플레이터,GDP_성장률
0,한국,2000,12261,61.5,20.9,61.2,29.89,27.84,172268.0,160481.0,96198.0,NaN,4.4,16.4,72.1,9.1
1,한국,2001,11563,62.2,21.2,61.5,27.47,25.76,150439.0,141098.0,102821.0,NaN,4.0,16.5,74.6,4.9
2,한국,2002,13164,63.4,21.3,62.1,25.91,24.26,162471.0,152126.0,121413.0,NaN,3.3,16.1,76.9,7.7
3,한국,2003,14669,63.0,22.0,61.6,27.59,25.45,193817.0,178827.0,155352.0,NaN,3.6,16.4,79.5,3.1
4,한국,2004,16506,63.8,21.2,62.3,31.99,28.28,253845.0,224463.0,199066.0,NaN,3.7,17.0,82.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,뉴질랜드,2016,40080,75.6,31.5,70.0,17.86,19.09,33740.0,36063.0,17808.0,NaN,5.2,17.9,110.5,3.7
812,뉴질랜드,2017,42993,76.9,31.6,70.9,18.39,19.38,38063.0,40115.0,20684.0,NaN,4.7,18.1,114.2,3.6
813,뉴질랜드,2018,43306,77.5,32.9,70.9,18.69,20.63,39673.0,43790.0,17657.0,NaN,4.3,18.4,115.6,3.2
814,뉴질랜드,2019,41999,77.5,32.3,70.6,18.90,20.26,39516.0,42362.0,17814.0,NaN,4.1,18.8,118.2,1.6
815,뉴질랜드,2020,41792,76.8,NaN,70.3,18.31,17.48,38897.0,37135.0,13733.0,NaN,4.6,19.1,120.6,1.0

In [7]:
data = all[(all['시점']==2000) | (all['시점']==2005) | (all['시점']==2010) | (all['시점']==2015) | (all['시점']==2020) ]
data.reset_index(inplace=True)
data.drop('index', axis=1, inplace=True)
data.to_csv('./datasets/data.csv', index=None, encoding='CP949')

C:\Users\dbswo\AppData\Local\Temp\ipykernel_18884\1220455572.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop('index', axis=1, inplace=True)

In [8]:
data.groupby('국가별').count()['시점']

국가별
그리스        5
네덜란드       5
노르웨이       5
뉴질랜드       5
덴마크        5
독일         5
라트비아       5
룩셈부르크      5
리투아니아      5
리히텐슈타인     4
멕시코        5
미국         5
벨기에        5
스웨덴        5
스위스        5
스페인        5
슬로바키아      5
슬로베니아      5
아이슬란드      5
아일랜드       5
에스토니아      5
영국         5
오스트레일리아    5
오스트리아      5
이스라엘       5
이탈리아       5
일본         4
체코         5
칠레         5
캐나다        5
코스타리카      5
콜롬비아       5
터키         5
포르투갈       5
폴란드        5
프랑스        5
핀란드        5
한국         5
헝가리        5
Name: 시점, dtype: int64