In [1]:
import pandas as pd

In [114]:
경제활동인구_및_참가율 = pd.read_csv("경제활동인구_및_참가율.csv", encoding='CP949')
고용률 = pd.read_csv("고용률.csv", encoding='CP949')
국내총생산 = pd.read_csv("국내총생산.csv", encoding='CP949')
국민부담률 = pd.read_csv("국민부담률.csv", encoding='CP949')
무역의존도 = pd.read_csv("무역의존도.csv", encoding='CP949')
수출수입 = pd.read_csv("수출수입.csv", encoding='CP949')
실업률 = pd.read_csv("실업률.csv", encoding='CP949')
외환보유액 = pd.read_csv("외환보유액.csv", encoding='CP949')
일반정부_총_부채_비율 = pd.read_csv("일반정부_총_부채_비율.csv", encoding='CP949')
평균근로자_세금 = pd.read_csv("평균근로자_세금.csv", encoding='CP949')
GDP_디플레이터 = pd.read_csv("GDP_디플레이터.csv", encoding='CP949')
GDP_성장률 = pd.read_csv("GDP_성장률.csv", encoding='CP949')

In [115]:
from functools import reduce

lists = [국내총생산, 고용률, 국민부담률,경제활동인구_및_참가율, 무역의존도,수출수입, 외환보유액, 일반정부_총_부채_비율, 실업률, 평균근로자_세금, GDP_디플레이터, GDP_성장률]

all = reduce(lambda left,right : pd.merge(left, right, on=('시점', '국가별'), how='left'), lists)
all

,국가별,시점,국내총생산,고용률,국민부담률,경제활동참가율 (%),무역의존도_수출,무역의존도_수입,수출,수입,외환보유액,부채비율,실업률,평균근로자세금,디플레이터,GDP_성장률
0,한국,2000,12261,61.5,20.9,61.2,NaN,NaN,172268.0,160481,96198.0,NaN,4.4,16.4,72.1,9.1
1,한국,2001,11563,62.2,21.2,61.5,27.47,25.76,150439.0,141098,102821.0,NaN,4.0,16.5,74.6,4.9
2,한국,2002,13164,63.4,21.3,62.1,25.91,24.26,162471.0,152126,121413.0,NaN,3.3,16.1,76.9,7.7
3,한국,2003,14669,63.0,22.0,61.6,27.59,25.45,193817.0,178827,155352.0,NaN,3.6,16.4,79.5,3.1
4,한국,2004,16506,63.8,21.2,62.3,31.99,28.28,253845.0,224463,199066.0,NaN,3.7,17.0,82.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,뉴질랜드,2016,40080,75.6,31.5,70.0,17.86,19.09,33740.0,36063,17808.0,NaN,5.2,17.9,110.5,3.7
812,뉴질랜드,2017,42993,76.9,31.6,70.9,18.39,19.38,38063.0,40115,20684.0,NaN,4.7,18.1,114.2,3.6
813,뉴질랜드,2018,43306,77.5,32.9,70.9,18.69,20.63,39673.0,43790,17657.0,NaN,4.3,18.4,115.6,3.2
814,뉴질랜드,2019,41999,77.5,32.3,70.6,18.90,20.26,39516.0,42362,17814.0,NaN,4.1,18.8,118.2,1.6
815,뉴질랜드,2020,41792,76.8,NaN,70.3,18.31,17.48,38897.0,37135,13733.0,NaN,4.6,19.1,120.6,1.0

In [118]:
all.to_csv('all.csv', encoding='CP949')

In [119]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   국가별          816 non-null    object
 1   시점           816 non-null    int64
 2   국내총생산        816 non-null    int64
 3   고용률          735 non-null    float64
 4   국민부담률        738 non-null    float64
 5   경제활동참가율 (%)  795 non-null    float64
 6   무역의존도_수출     758 non-null    float64
 7   무역의존도_수입     758 non-null    object
 8   수출           796 non-null    float64
 9   수입           796 non-null    object
 10  외환보유액        797 non-null    float64
 11  부채비율         687 non-null    float64
 12  실업률          804 non-null    float64
 13  평균근로자세금      755 non-null    float64
 14  디플레이터        782 non-null    float64
 15  GDP_성장률      807 non-null    float64
dtypes: float64(11), int64(2), object(3)
memory usage: 108.4+ KB